{% load i18n %}
<form
   action="https://{{ request.site.domain }}{% url 'signup:signup' pk %}"
   method="POST"
   class="signup-form"
   id="form-{{pk}}"
   >
   <div class="FormFields">
     {% for field in form %}
     <div class="FieldGroup {{field.name}}">
       <label for="id_{{field.name}}">
         {{field.label}}
       </label>
        {% if field.errors %}
        <ul class="Errors">
        {% for error in field.errors %}
        <li>{{error}}</li>
        {% endfor %}
        </ul>
        {% endif %}
  <div class="Input">
       {{field}}
  </div>
     </div>
     {% endfor %}
   </div>
   <button type="submit">{% trans 'submit' %}</button>
</form>
