<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="SignupForm" data-id="{{ pk }}"></div>

    <script src="/static/include_form.js"></script>
  </body>
</html>
